<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.system.dao.DeptUserMapper">
  <resultMap id="BaseResultMap" type="com.six.system.domain.DeptUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_id" jdbcType="INTEGER" property="operateId" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dept_id, user_id, operate_ip, operate_id, operate_name, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dept_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.six.system.domain.DeptUser">
    insert into sys_dept_user (id, dept_id, user_id, 
      operate_ip, operate_id, operate_name, 
      operate_time)
    values (#{id,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{operateIp,jdbcType=VARCHAR}, #{operateId,jdbcType=INTEGER}, #{operateName,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.six.system.domain.DeptUser">
    insert into sys_dept_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operateIp != null">
        operate_ip,
      </if>
      <if test="operateId != null">
        operate_id,
      </if>
      <if test="operateName != null">
        operate_name,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="operateIp != null">
        #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null">
        #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateName != null">
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.six.system.domain.DeptUser">
    update sys_dept_user
    <set>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="operateIp != null">
        operate_ip = #{operateIp,jdbcType=VARCHAR},
      </if>
      <if test="operateId != null">
        operate_id = #{operateId,jdbcType=INTEGER},
      </if>
      <if test="operateName != null">
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.six.system.domain.DeptUser">
    update sys_dept_user
    set dept_id = #{deptId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      operate_ip = #{operateIp,jdbcType=VARCHAR},
      operate_id = #{operateId,jdbcType=INTEGER},
      operate_name = #{operateName,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--*************************************************************-->
  <select id="selectDeptKeysByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT dept_id
    FROM sys_dept_user
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectUserKeysByDeptId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT user_id
    FROM sys_dept_user
    WHERE dept_id = #{deptId,jdbcType=INTEGER}
  </select>
  <insert id="insertForeach">
    INSERT INTO sys_dept_user
    (dept_id, user_id, operate_ip, operate_id, operate_name, operate_time)
    VALUES
    <foreach collection ="deptKeys" item="key" separator =",">
      (#{key,jdbcType=INTEGER}, #{user.id,jdbcType=INTEGER}, #{user.operateIp,jdbcType=VARCHAR},
      #{user.operateId,jdbcType=INTEGER}, #{user.operateName,jdbcType=VARCHAR}, #{user.operateTime,jdbcType=TIMESTAMP})
    </foreach >
  </insert>
  <delete id="deleteForeach">
    DELETE FROM sys_dept_user
    WHERE user_id = #{user.id,jdbcType=INTEGER}
    AND dept_id in
    <foreach collection ="deptKeys" item="key"  open="(" separator="," close=")">
      #{key,jdbcType=INTEGER}
    </foreach >
  </delete>
  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    DELETE FROM sys_dept_user
    WHERE user_id = #{userId,jdbcType=INTEGER}
  </delete>
</mapper>