<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.system.dao.ToolMapper">

    <select id="existSize" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM  ${tableName}
        WHERE 1=1
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="field != null and value!= null">
            AND ${field} = #{value}
        </if>
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

</mapper>